{% extends 'base.html' %}
<!--  -->
{% block content %}
<div class="row">
    <div class="col-md-6">
        <div>
            <img src="{{ produit.image }}" width="200px" height="200px" alt="">
        </div>
    </div>
    <div class="col-md-6">
        <div class="text-warning display-3">
            {{ produit.title }}
        </div>
        <div class="text-danger">
            <!-- Prix: {{ produit.price }}F -->
        </div>
        <div>
            {{ produit.descri }}
        </div>
        <!-- <a href="#"><button class="btn btn-success">ACheter</button></a> -->
    </div>
</div>

{% endblock %}